.gravity-theme a{
	text-decoration: none;
	color: #053742;

}

.gravity-theme a:hover{
	text-decoration: none;
	color: #053742;
}

.gform_wrapper .gform_body .gfield{
	border: none;
	padding: 0;
	margin-bottom: 1em;
	font-size: 1.1em;
	/* font-family: "TTCommons", helvetica, arial, sans-serif; */
}

.gform_wrapper .gform_body .name_first,
.gform_wrapper .gform_body .name_last{
	margin-right: 0.5rem;
}
.gform_wrapper .gform_body .gfield_label{
	font-size: 1.3em;
	font-weight: normal;
}

.gform_wrapper .gform_body .gfield label{
	font-weight: normal;	
}
.gform_wrapper .gform_body .gfield_checkbox label{
	margin-left: 0.25em;
}

.gform_wrapper .gfield_description{
	font-weight: normal;
	margin-bottom: 0.5em;
}